@tailwind base;
@tailwind components;
@tailwind utilities;

@import "daisyui";

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.item {
  position: relative;
  margin-left: 2rem;
}
.item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -1rem;
  transform: translate(0, -50%);
  width: 10px;
  height: 10px;
  background: rgb(255, 255, 255);
  border-radius: 0.3mm;
}

#container {
  padding-top: 110px;
}

.btn-primary {
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e54b4b;
}
