package components;

templ LoginSuccess(username string, password string) {
	<div>
		<h1 class="text-red-500">Login Success</h1>
		<p>Username: { username }</p>
		<p>Password: { password }</p>
	</div>
}
