package components;

import "fmt"

templ News(slides []string) {
	for i, src := range slides {
		<div id={ fmt.Sprintf("news-%d", i) } class="min-w-full px-20">
			<img src={ src } class="w-full"/>
		</div>
	}
}
