package common;

templ Poster(imgUrl string, alt string) {
	<div class="min-w-96 p-2">
		<div class="bg-gray-700 max-h-96 flex items-center justify-center">
			<img src={ imgUrl } alt/>
		</div>
	</div>
}
