package view

templ Home(name string){
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Document</title>
        <link rel="stylesheet" href="/output.css"/>
    </head>
    <body>
        <h1>Hello {name}!</h1>
        <p class="text-purple-300">What is this?</p>
    </body>
</html>
}